.box {
  height: 100px; /* Adjust the height as needed */
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color:rgb(242, 242, 242);
  color:rgb(40,40,40);
}

.container {
  width: 500px;
  min-height: 80vh;
  margin-top:50px;
  padding: 30px 50px; /* Add padding to the container if desired */
  background: rgb(252,252,252);
  border-radius: 5px;
  box-shadow: 5px 5px 20px 0px rgb(0,0,0,0.3);
  position:relative;
}

.headline {
  display: flex;
  justify-content: center;
  background: rgb(255,189,162);
  background: linear-gradient(130deg, rgba(255,189,162,1) 0%, rgba(255,150,107,1) 100%);
  border-radius: 5px;
}

h1 {
  letter-spacing: 5px;
}
h2 {
   letter-spacing: 3px;
}
h3 {
  letter-spacing: 2px;
}


