
.listBodyContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    maring:0px;
    padding:0px;
}
.buttonContainer {
    display:flex;
    gap:3px;
}

h2, h3 {
    padding-bottom: 15px;
    border-bottom: 1px lightgray solid;
    width:100%;
    text-align: center;
}

ul {
    list-style-type: none;
    padding-left:0;
}
li {
    height:30px;
}
